/* CSS file for the chat screen */


/* Parent container of the chat */
ChatWidget {
    padding: 0 2;
}

/* Sub-container-1: Sidebar (left) */
ChatSidebarWidget {
    width: 25%;
    height: 100%;
    padding: 0 2 1 0;

    /* Chats List */
    & ChatListComponent {
        width: 100%;
        padding: 0;
        height: 1fr;
    }

    /* New chatroom button */
    & NewChatRoomButtonComponent {
        width: 100%;
        min-height: 3;
        max-height: 3;
    }

}

/* Sub-container-2: Contents (right) */
ChatContentWidget {
    width: 75%;
    background: $surface 50%;
}
