/* CSS file containing global configuration */


* {
    scrollbar-color: $primary 10%;
    scrollbar-color-hover: $primary 80%;
    scrollbar-color-active: $primary;
    scrollbar-background: $surface-darken-1;
    scrollbar-background-hover: $surface-darken-1;
    scrollbar-background-active: $surface-darken-1;
    scrollbar-size-vertical: 1;

    &:focus {
        scrollbar-color: $primary 50%;
    }
}

.round_border {
    border: round $accent 20%;
    border-title-color: $accent;
}

.highlight_border:focus-within {
    border: round $accent 50%;
    border-title-style: bold;
}


/* Main class of the application */
AmongLLMs {

    /* Global configuration for button (unless overridden) */
    & Button {
        color: $text;
        border: none;

        width: auto;
        content-align: center middle;

        &:hover {
            Label {
                background: $surface;
            }
        }
    }

    /* Configuration for radio buttons set */
    & RadioSetComponent {

        border: round $accent 50%;
        background: $background;
        content-align: left top;

        &:focus {
            border: round $accent;
        }

        & RadioSet {
            background: $background;
            border: none;
        }
    }

    /* Configuration for all modal dialogs */
    ModalScreen {
        align: center middle;
        width: 75%;
        height: 75%;

        & Container {
            background: $background;
            padding: 1 2 0 2;

            width: 75%;
            max-height: 75%;
        }

        & VerticalScroll {
            scrollbar-gutter: stable;
            scrollbar-size: 2 1;
            scrollbar-color: $primary;
        }
    }

}
