/* CSS file containing global configuration */


* {
    scrollbar-color: $primary 10%;
    scrollbar-color-hover: $primary 80%;
    scrollbar-color-active: $primary;
    scrollbar-background: $surface-darken-1;
    scrollbar-background-hover: $surface-darken-1;
    scrollbar-background-active: $surface-darken-1;
    scrollbar-size-vertical: 1;

    &:focus {
        scrollbar-color: $primary 50%;
    }
}


/* Main class of the application */
AmongLLMs {

    /* Global configuration for button (unless overridden) */
    & Button {
        background: $primary;
        color: $text;
        border: none;

        width: auto;
        content-align: center middle;

        &:hover {
            background: $primary-darken-1;
        }
    }
}
