/* Global border configuration */
.border {
    border: round $foreground 20%;
    border-title-color: $foreground;
    border-subtitle-color: $foreground 50%;
}

.highlight-border:focus-within {
    border: round $primary;
    border-title-color: $primary;
    border-subtitle-color: $primary;
    border-title-style: bold;
}

/* Global configuration for select widget */
Select {
    SelectCurrent {
        border: none;
        height: 3;
        padding: 1 2 1 2;
    }
}

/* Global configuration fot text-box */
TextArea {
    border: none;
    padding: 1;

    &:focus {
        border: none;
    }
}

/* Global configuration for modal screens */
ModalScreen {

    align: center middle;
    background: $background 80%;

    & .modal-container {
        max-width: 80;
        min-height: 25;
        max-height: 50%;

        height: auto;
        width: 60;

        border-title-align: center;
    }
}